# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Node.js
node_modules/
npm-debug.log
package-lock.json

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Database files
*.sqlite
*.db
*.db-journal

# Logs
*.log

# OS files
.DS_Store
Thumbs.db